@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
} 
body{
    font-family: 'Montserrat', sans-serif;
    background: #424874;
    display: flex;
    align-items: center;
    height: 100vh;
}

.navigation{
    width: 200px;
    height: 90vh;
    background: #64649d;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition:width 0.5s cubic-bezier(1, -0.34, 0, 1.33);
    -webkit-transition:width 0.5s cubic-bezier(1, -0.34, 0, 1.33);
    -moz-transition:width 0.5s cubic-bezier(1, -0.34, 0, 1.33);
    -ms-transition:width 0.5s cubic-bezier(1, -0.34, 0, 1.33);
    -o-transition:width 0.5s cubic-bezier(1, -0.34, 0, 1.33);
    margin-left: 10px;
}

.menu{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left:5px ;
}

.menu ul li,.apple_div{
    position: relative;
    list-style: none;
    line-height: 40px;
    margin-top: 5px;
    padding: 0px 0px 2px 15px;
    border-radius: 30px 0px 0px 30px;
    -webkit-border-radius: 30px 0px 0px 30px;
    -moz-border-radius: 30px 0px 0px 30px;
    -ms-border-radius: 30px 0px 0px 30px;
    -o-border-radius: 30px 0px 0px 30px;
    cursor: pointer;
    white-space: nowrap;
}
.apple_div{
    color: white;
    border-radius: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid ;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 5px;
    cursor: auto;
}

.apple_div span{
    margin-left: 20px;
    font-weight: 600;
    display: block;
    white-space: nowrap;
}

.apple_div i{
    font-size: 1.5em;
}


.menu ul li:hover::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    right: 0px;
    top:-20px;
    right: 5px;
    border-bottom-right-radius: 50%;
    box-shadow: 7.5px 7.5px 0px 7.5px white;
}



.menu ul li:hover::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    right: 5px;
    bottom:-20px;
    border-top-right-radius: 50%;
    box-shadow: 7.5px -7.5px 0px 7.5px white;

}

.menu ul li:hover{
    background: white;
}

.menu ul li:hover a{
    color: black;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.menu ul li a span{
    margin-left: 20px;
}

.toggle_btn{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 10px;
    right: 10px;
    overflow: hidden;
    cursor: pointer;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    background: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgba(0,0,0,.15);
}

.toggle_btn::before{
    content: '';
    position: absolute;
    width: 60%;
    height: 1.9px;
    background: #64649d;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

.toggle_btn::after{
    content: '';
    position: absolute;
    width: 60%;
    height: 2px;
    border-radius: 5px;
    background: #64649d;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transform: rotate(-315deg);
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    -ms-transform: rotate(-315deg);
    -o-transform: rotate(-315deg);
}

.toggle_btn.active::before{
    transform: rotate(0deg) translateY(-3px);
    -webkit-transform: rotate(0deg) translateY(-3px);
    -moz-transform: rotate(0deg) translateY(-3px);
    -ms-transform: rotate(0deg) translateY(-3px);
    -o-transform: rotate(0deg) translateY(-3px);
}

.toggle_btn.active{
    right: calc(50% - 15px);
}

.toggle_btn.active::after{
    transform: rotate(0deg) translateY(0px);
    -webkit-transform: rotate(0deg) translateY(0px);
    -moz-transform: rotate(0deg) translateY(0px);
    -ms-transform: rotate(0deg) translateY(0px);
    -o-transform: rotate(0deg) translateY(0px);
    top: 20px;
}

.navigation.active{
    width: 55px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    transition:width 0.5s cubic-bezier(1, -0.34, 0, 1.33);
    transition-property: width;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-delay: 0.2s;
    -webkit-transition:width 0.5s cubic-bezier(1, -0.34, 0, 1.33);
    -moz-transition:width 0.5s cubic-bezier(1, -0.34, 0, 1.33);
    -ms-transition:width 0.5s cubic-bezier(1, -0.34, 0, 1.33);
    -o-transition:width 0.5s cubic-bezier(1, -0.34, 0, 1.33);
}

.navigation.active .menu ul li{
    white-space: nowrap;
}

.navigation.active .menu ul li a span{
    margin-left: 25px;
}

.navigation.active .apple_div i{
    font-size: 1.3em;
    margin-left: 4px;
}

.navigation.active .apple_logo{
    white-space: nowrap;
}

