@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
} 
body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(6, 100, 195);
    display: flex;
    align-items: center;
    height: 100vh;
}

.navigation{
    width: 200px;
    height: 90vh;
    background: rgb(23, 135, 233);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    -ms-transition: width 0.3s;
    -o-transition: width 0.3s;
    margin-left: 10px;
}

.menu{
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding-left:5px ;
}

.menu ul li,.apple_div{
    position: relative;
    list-style: none;
    line-height: 40px;
    margin-top: 5px;
    padding: 0px 0px 2px 15px;
    border-radius: 30px 0px 0px 30px;
    -webkit-border-radius: 30px 0px 0px 30px;
    -moz-border-radius: 30px 0px 0px 30px;
    -ms-border-radius: 30px 0px 0px 30px;
    -o-border-radius: 30px 0px 0px 30px;
    cursor: pointer;
}
.apple_div{
    color: white;
    border-radius: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid ;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    margin-bottom: 5px;
}

.apple_div span{
    margin-left: 15px;
    font-weight: 600;
    display: block;
}


.menu ul li:not(:first-child):hover::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    right: 0px;
    top:-20px;
    right: 5px;
    border-bottom-right-radius: 50%;
    box-shadow: 7.5px 7.5px 0px 7.5px white;
}

.menu ul li:not(:first-child):hover::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: transparent;
    right: 5px;
    bottom:-20px;
    border-top-right-radius: 50%;
    box-shadow: 7.5px -7.5px 0px 7.5px white;
}

.menu ul li:hover{
    background: white;
}

.menu ul li:hover a{
    color: black;
}

.menu ul li a{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
}

.menu ul li a span{
    margin-left: 15px;
}

.toggle_btn{
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 10px;
    right: 5px;
    overflow: hidden;
    cursor: pointer;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    background: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toggle_btn::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 3px;
    background: rgb(6, 100, 195);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
    -o-transform: rotate(35deg);
}

.toggle_btn::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 3px;
    border-radius: 5px;
    background: rgb(6, 100, 195);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .8s;
    -webkit-transition: .8s;
    -moz-transition: .8s;
    -ms-transition: .8s;
    -o-transition: .8s;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
}

.toggle_btn.active::before{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    top: 10px;
}

.toggle_btn.active{
    right: calc(50% - 15px);
}

.toggle_btn.active::after{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    top: 20px;
}

.navigation.active{
    width: 55px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.navigation.active .menu ul li{
    padding: 15px;
}
.navigation.active .apple_div{
    padding-top: 10px;
    padding-bottom: 10px;
}

.navigation.active .apple_div i{
    font-size: 1.5em;
    margin-left: 4px;
}

.navigation.active .apple_logo{
    display: none;
}

.navigation.active .menu ul li a span{
    visibility: hidden;
    display: none;
}